body{
    background: linear-gradient(-45deg,rgb(234, 180, 234),purple,rgb(111, 6, 111),purple,rgb(234, 180, 234));
}

.content {
    background-color:rgba(255,255,255,.8); 
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding-left:10vmin;
    padding-right:10vmin;
    padding-bottom:0vmin;
    padding-top:4vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
    }